<!DOCTYPE html>
<html>
<head>
<html>
    <title> NLP-DZ API </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<body>

    <h1> 🤗 NLP-DZ API 🤗 </h1>
<textarea rows='14' id="input_text" placeholder="Enter your text here...."></textarea>

<form action="calculesent" method="post">
        <br>
        <input type="submit" value="😻 Get Sentiment ☹️" id="calculsent">
    </form>
<form action="calculetopic" method="post">
        <br>
        <input type="submit" value="          Get Topic          " id="calcultopic">
    </form>

<form action="calculehate" method="post">
        <br>
        <input type="submit" value="   Hateful Verification   " id="calculhate">
    </form>
<form action="retoursentiment" method="post">
        <br>
        <input type="submit" value="⏎Retur" id="retoursentiment">
    </form>
<textarea rows='14' id="result" placeholder="Please Wait for the result" >{{c}}</textarea>
</div>


</body>
</html>

