<!DOCTYPE html>
<html>
<head>
<html>
    <title> NLP-DZ API's </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<body>
 </form>
    <h1> 🤗 NLP-DZ API's 🤗 </h1>
<form id="package_form" action="" method="post">
      <div class="panel-body">
          <input type ="submit" name="action" value="Download">
      </div>
      <div class="panel-body">
          <input type ="submit" name="action" value="Histogram">
      </div>
      <div class="panel-body">
          <input type ="submit" name="action" value="Search">
      </div>

 </form>
<form action="calculesent" method="post">
        <br>
        <textarea rows='14' id="input_text" name="name_input1" placeholder="Enter your text here...."></textarea>
        <input type="submit" value="😻 Get Sentiment ☹️" id="calculsent">
        <input type="submit" value="          Get Topic          " id="calcultopic">
        <input type="submit" value="   Hateful Verification   " id="calculhate">
        <textarea rows='14' id="result" placeholder="Please Wait for the result" disabled >{{v1}}</textarea>
    </form>
<form action="retoursentiment" method="post">
        <br>
        <input type="submit" value="Return" id="retoursentiment">
    </form>

</body>
