<!DOCTYPE html>
<html>
<head>
<style>
div.relative {
  position: fixed;
  width: 50%;
  bottom: 231px;
  left: 500px;
  border: 0px;
} 
div.absolute {
  position: fixed;
  width: 50%;
  bottom: 230px;
  border: 0px;
}
div.fixed {
  position: fixed;
  width: 50%;
  bottom: 270px;
  left: 280px;
  border: 0px;
} 
</style>
</head>


<!DOCTYPE html>

<html>
    <title> NLP-DZ API </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main2.css') }}">
<body>

    <h1> 🤗 NLP-DZ API 🤗 </h1>
<div class="absolute">
<textarea rows='14' id="input_text" placeholder="Enter your text here...."></textarea>
</div>
<div class="fixed">
<form action="calculesent" method="post">
        <br>
        <input type="submit" value="😻 Get Sentiment ☹️" id="calculsent">
    </form>
<form action="calculetopic" method="post">
        <br>
        <input type="submit" value="          Get Topic          " id="calcultopic">
    </form>

<form action="calculehate" method="post">
        <br>
        <input type="submit" value="   Hateful Verification   " id="calculhate">
    </form>
<form action="retoursentiment" method="post">
        <br>
        <input type="submit" value="             Retour             " id="retoursentiment">
    </form>
</div> 
<div class="relative">
<textarea rows='14' id="result" placeholder="Please Wait for the result" ></textarea>
</div>


</body>
</html>


